.skill-panel {
    text-align: center;
    max-width: 800px !important;
}
.point-label {
    font-weight: bold;
    font-size: 1.2rem;
}
.point-label.he-dia {
    color: gold;
}
.point-label.he-thuy {
    color: lightskyblue;
}
.point-label.he-hoa {
    color: orange;
}
.point-label.he-phong {
    color:  greenyellow;
}
a.about {
    color: grey;
}
a.about:hover {
    color: white;
}
.logo-brand {
    display: flex;
    flex-direction: column;
}
.logo-brand a {
    user-select: none;
    font-size: .6rem;
    background: linear-gradient(90deg, #4d96ff, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; /* cho Safari */
}
.logo-brand:hover a {
    background: linear-gradient(90deg, #4d96ff, #a06bff, #ff6b6b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; /* cho Safari */
}
.skill-inactived {
    filter: brightness(55%)
}
.skill-item {
    position: relative;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    transition: all 2s ease-in-out;
}
.skill-item > img:active {
    transform: scale(1.1,1.1);
}
.point {
    position: absolute;
    bottom: 4px;
    right: 3px;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    user-select: none;
    font-weight: 450;
}
.point.require {
    top: -3px;
    right: 3px;
    color: gold;
}
.bold {
    font-weight: 600;
}
.about p, .about li {
    font-size: .85rem
}
.about img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.tabs ul > li:last-child {
    margin-left: auto;
}
.tabs-main {
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .is-desktop {
        display: none !important
    }
    .level-0-wrapper > li::before {
        display: none;
    }
    .point-panel.is-mobi {
        position: fixed;
        width: 100%;
        z-index: 30;
    }
    .tabs-main {
        position: absolute;
        width: 100%;
        margin-top: 101px;
    }
    .skill-panel {
        zoom: 0.8;
    }
    .skill-dia {
        padding-left: 1rem;
    }
    .skill-hoa {
        padding-right: 3rem;
    }
    .skill-taisinh {
        display: flex;
        justify-content: center;
    }
    .about img {
        margin-bottom: 20px;
    }
    .skill-chuyensinh {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .skill-chuyensinh .column {
        padding: 0;
    }
    .navbar-brand {
        display: block;
    }
    .navbar-item {
        justify-content: center;
    }
    .point-panel {
        padding-top: 0px;
        padding-bottom: 10px;
    }
}
@media screen and (min-width: 1024px) {
    .is-mobi {
        display: none !important
    }
}