.disable-user-select {
    user-select: none;
}

.select select,
.select {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge cũ */
}

.skill-panel {
    text-align: center;
    max-width: 800px !important;
}

.point-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.color-dia {
    color: gold;
}

.color-thuy {
    color: lightskyblue;
}

.color-hoa {
    color: orange;
}

.color-phong {
    color: greenyellow;
}

.label-hoa-hoa {
    color: tomato;
    text-shadow:
        0 0 10px #ffa500,
        0 0 15px #ffa500,
        0 0 20px #ffa500,
        0 0 40px #ffa500;
}

.label-thuy-thuy {
    color: royalblue;
    text-shadow:
        0 0 10px #87cefa,
        0 0 15px #87cefa,
        0 0 20px #87cefa,
        0 0 40px #87cefa;
}

.label-dia-dia {
    color: darkgoldenrod;
    text-shadow:
        0 0 10px #ffd700,
        0 0 15px #ffd700,
        0 0 20px #ffd700,
        0 0 40px #ffd700;
}

.label-phong-phong {
    color: mediumseagreen;
    text-shadow:
        0 0 10px #adff2f,
        0 0 15px #adff2f,
        0 0 20px #adff2f,
        0 0 40px #adff2f;
}

.label-cs-cs {
    color: blueviolet;
    text-shadow:
        0 0 10px plum,
        0 0 15px plum,
        0 0 20px plum,
        0 0 40px plum;
}

.label-ts-ts {
    color: blueviolet;
    text-shadow:
        0 0 10px plum,
        0 0 15px plum,
        0 0 20px plum,
        0 0 40px plum;
}

.about {
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

a.about {
    color: grey;
}

a.about:hover {
    color: white;
}

.about a:hover {
    color: #485fc7;
    text-decoration: underline;
}

.about a:visited {
    color: #485fc7;
}

.logo-brand {
    display: flex;
    flex-direction: column;
}

.logo-brand a {
    user-select: none;
    font-size: .6rem;
    background: linear-gradient(90deg, #4d96ff, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* cho Safari */
}

.logo-brand:hover a {
    background: linear-gradient(90deg, #4d96ff, #a06bff, #ff6b6b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* cho Safari */
}

/* .brand-name {
    margin-left: 5px;
}

.brand-name>p:first-of-type {
    font-weight: 500;
    font-size: .7rem;
} */

.skill-inactived {
    filter: brightness(55%)
}

.skill-item {
    position: relative;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    user-select: none;
    -webkit-user-select: none;
    /* Safari, Chrome cũ */
    -moz-user-select: none;
    /* Firefox cũ */
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.skill-item>img:active {
    transform: scale(1.1);
}

.skill-item:hover .delete-skill {
    opacity: 1;
    visibility: visible
}

.skill-panel-taisinh .skill-item:hover .delete-skill {
    opacity: 0;
    visibility: hidden;
}

.delete-skill {
    width: 21px;
    height: 21px;
    top: -8px;
    right: -8px;
    user-select: none;
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s;
}

.skill-logo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

.skill-logo-img {
    width: 70px;
    height: 70px;
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
}

.point {
    position: absolute;
    bottom: 4px;
    right: 3px;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    user-select: none;
    font-weight: 450;
}

.point.require {
    top: -3px;
    right: 3px;
    color: gold;
    height: fit-content;
}

.bold {
    font-weight: 600;
}

.about img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/* .tabs ul > li:last-child {
    margin-left: auto;
} */

.tabs-main {
    margin-top: 10px;
}

.has-navbar-fixed-top:has(.lock-screen) {
    padding-top: 0;
}

.lock-screen {
    width: 100vw;
    height: 100vh;
    background-image: url('./loading.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lock-screen-text {
    color: white;
    font-size: 1.2rem;
}

.skill-panel-ts {
    display: flex;
    justify-content: center;
    padding-right: 40px;
}

.skill-panel-ts>div:first-of-type {
    margin: auto;
}

/* .skill-panel {
    animation: fadeIn 0.3s ease-in-out;
} */

.point-panel {
    user-select: none;
}

.pop-notification {
    animation: zoomPop 0.5s ease;
}

.icon-question {
    color: gray;
    cursor: pointer;
    margin-left: 5px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


.icon-question:active {
    color: black;
}

.navbar-end .icon-question {
    margin-right: 5px;
}

.navbar-end .icon-question:hover {
    color: dimgray;
}

.navbar-end .icon-question:active {
    color: black;
}

.close-about-page {
    position: fixed;
    right: 16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.close-about-page:hover {
    background: rgba(0, 0, 0, 0.55);
}

.close-about-page:active {
    background: rgba(0, 0, 0, 0.65);
}

.qr-code {
    position: relative;
}

.qr-code-button {
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-panel-taisinh {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    z-index: 55;
    background-color: #fff;
    left: 2.5%;
    /* display: flex;
    flex-direction: column; */
}

.skill-panel-ts {
    margin: .25rem 0 .25rem 0;
}

@keyframes banner-in {
  from { max-height: 0; opacity: 0; }
  to   { max-height: 40px; opacity: 1; }
}

@keyframes zoomPop {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .is-desktop {
        display: none !important
    }

    /* .level-0-wrapper > li::before {
        display: none;
    } */
    .point-panel.is-mobi {
        position: fixed;
        width: 100%;
        z-index: 30;
    }

    .tabs-main {
        position: absolute;
        width: 100%;
        margin-top: 101px;
    }

    /* .tabs {
        position: sticky;
        top: 156px;
        z-index: 30;
        background-color: #fff;
    } */

    .skill-panel {
        transform: scale(0.8);
        transform-origin: top left;
        width: 125%;
    }

    .skill-logo-img {
        width: 60px;
        height: 60px;
    }

    .logo-hoa {
        top: 43%;
        left: 43%;
    }

    .skill-hoa {
        padding-right: 3rem;
    }

    .skill-taisinh {
        display: flex;
        justify-content: center;
    }

    .about {
        width: 97%;
        margin-top: 7.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .close-about-page {
        zoom: 0.8;
    }

    .skill-chuyensinh {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .skill-chuyensinh.columns {
        margin-top: 0;
    }

    .skill-chuyensinh .column {
        padding: 0;
    }

    .navbar-brand {
        display: block;
    }

    .navbar-item {
        justify-content: center;
    }

    .point-panel {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .delete-skill {
        width: 24px;
        height: 24px;
        top: -10px;
        right: -11px;
    }

    .delete-skill:active {
        background: rgba(255, 0, 0, 0.8);
    }

    .skill-panel-taisinh .control button {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1024px) {
    .is-mobi {
        display: none !important
    }

    .delete-skill:hover {
        background: rgba(255, 0, 0, 0.8);
        transform: scale(1.2);
    }
}